.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.section {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: blueviolet;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.contact {
    display: flex;
    justify-content: space-between
}

.contact-item {
    width: 368px;
    height: 538px;
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 24px;
    list-style: none;
}