
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.section {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.contact {
    background: linear-gradient(rgb(255, 255, 255),
    rgba(250, 168, 187, 0.46));

    padding-top: 60px;

    @include tablet {
    padding-top: 80px;
    }
    @include desktop {
    padding-top: 120px;
    }
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(33.3333% - 20px);
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 20px 20px;

    @include tablet {
      padding: 32px 32px;
      flex-wrap: nowrap;
      margin-bottom: 60px;
    }
}

.contact-list__item {
    width: 280px;
    height: 412px;
    background: #fff;
    border-radius: 24px;
    list-style: none;
    padding: 40px 69px 40px 32px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
        width: 224px;
        height: 528px;
        padding: 40px 32px;
      }
      @include desktop {
        width: 368px;
        height: 538px;
        padding: 40px;
      }
    .contact-list__item:hover,
    .contact-list__item:focus {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}
}




.contact-name {
    width: 80px;
    height: 16px;
    background: #F0D1A5;
    border-radius: 6px; 

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 20px;
}
    
.contact-name-food {
    width: 130px;
    height: 16px;
    background: #C2E297;
    border-radius: 6px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 20px;
}

.contact-line {
    width: 216px;
    height: 0;
    margin-top: 0;
    margin-bottom: 24px;
    margin-top: 24px;
}

.contact-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;

    color: #000000;

    margin-top: 0;
    margin-bottom: 20px;
}

.contact-text-date {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;

    color: #000000;
    margin-top: 0;
    margin-bottom: 8px;
}

.contact-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #907E82;
    margin: 0 auto;
}

.contact-time {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    color: #FFA5BA;
    margin-top: 0;
    margin-bottom: 12px;
}

.contact-time-san {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    color: #FFA5BA;
    margin-top: 0;
    margin-bottom: 0;
}


.contact-link {
    display: block;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
    text-decoration-line: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #D41443;
}

.button {
    text-align: center;
}

.button-location {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;

    background: #D41342;
    border-radius: 22px;
    border: none;
    height: 44px;
    width: 162px;
}

.button-franchise {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #D41443;
    border-radius: 22px;
    border: none;
    height: 44px;
    width: 162px;
}

.contact-img {
    fill: currentColor;
    width: 12px;
    height: 12px;
}