.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.section {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: blueviolet;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.contact {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-left: 0;
}

.contact-item {
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 24px;
    list-style: none;
    padding: 40px 32px;
    margin-bottom: 20px;
}

.contact-name {
    width: 80px;
    height: 16px;
    background: #F0D1A5;
    border-radius: 6px; 

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 20px;
}
    
.contact-name-food {
    width: 130px;
    height: 16px;
    background: #C2E297;
    border-radius: 6px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;
}

.contact-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;

    color: #000000;

    margin-top: 0;
    margin-bottom: 20px;
}

.contact-text-date {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;

    color: #000000;

    margin: 0 auto;
}

.contact-description {
    color: #907E82;

    margin-top: 0;
    margin-bottom: 20px;
}

.contact-time {
    color: #FFA5BA;
    margin-top: 0;
    margin-bottom: 20px;
}

.contact-link {
    display: block;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #907E82;
}